<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="false">

    <resource-ref>
        <res-ref-name>jdbc/java-hdi-container</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>

    <servlet-mapping>
        <servlet-name>ODataServlet</servlet-name>
        <url-pattern>/odata/v2/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndPoints</servlet-name>
        <url-pattern>/odata/v2/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EndPoints</servlet-name>
        <servlet-class>com.sap.cloud.sdk.service.prov.v2.rt.core.web.EndPointsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ODataServlet</servlet-name>
        <servlet-class>org.apache.olingo.odata2.core.servlet.ODataServlet</servlet-class>
        <init-param>
            <param-name>org.apache.olingo.odata2.service.factory</param-name>
            <param-value>com.sap.cloud.sdk.service.prov.v2.rt.core.CloudSDKODataServiceFactory</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.olingo.odata2.path.split</param-name>
            <param-value>1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <listener>
        <listener-class>com.sap.cloud.sdk.service.prov.v2.rt.core.web.ServletListener</listener-class>
    </listener>
    <context-param>
        <param-name>package</param-name>
        <param-value>my.company</param-value>
    </context-param>
</web-app>
